@import "_main";


* {
    @include univer;
}
@import "./components/nav";
body {
    
    background-image: url(/img/background-image.webp);
    background-repeat: no-repeat;
    background-size: $width $width;
    height: auto;
    

}
.contact-us{
    @include centersnojus;
    justify-content: center;
   
}


form {
    @include centersnojus;
    justify-content: center;
    width: 70%;
    height: 80%;
}

h1 {
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    backdrop-filter: blur(3px);
    color:$main-color;
}

label {
    display: flex;
    flex: 1;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: $text-color;
}

input[type=text] {
    @include type;
}

input[type=email] {
    padding: 10px;
    width: 405px;
}

input[type=password] {
    @include type;
}

textarea {
    margin-top: 10px;
    width: 405px;
    height: 5vh;
}

input[type=tel]{
    @include type;
}
select{
    @include type;
    
}

button {
    padding: 10px;
    width: 200px;
    border: 1px solid $main-color;
    background:$main-color;
    border-radius: 15px;
    margin: 50px;
    color: $text-button;
}

