@import "./mixins/responsive";
@import "_main";

* {
    @include univer;
}

body {
    @include body;
}

@import "./components/nav";

.menu ul li:nth-child(1) a {
    color: $main-color;
    border-bottom: 5px solid;
}

header {
    display: flex;
    justify-content: space-between;
    padding: $size $size + 30;
    background-color: $bg-color;

    @include responsive('phone') {
        background-image: url(../img/header-home.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
       

    }

    .head-lift {
        h1 {
            font-size: 50px;
            text-transform: uppercase;
            padding: 222px 0px 50px 0px;
            color: $text-color;

            @include responsive('tablet') {
                padding: 20px 0px 50px 0px;
            }

            @include responsive('phone') {
                padding: 20px 0px 50px 0px;
                color: $text-button;
                text-align: center;
            }
        }
    }

    button {
        font-size: 40px;
        border-radius: $size;
        padding: $size;
        text-transform: uppercase;
        color: #6C3838;
        border: 5px solid $main-color;

        @include responsive('tablet') {
            font-size: 30px;
            border-radius: $size;
            padding: $size;
            border: 3px solid $main-color;
        }
        @include responsive('phone') {
            font-size: 25px;
            border-radius: $size;
            padding: $size;
            border: 3px solid $main-color;
           
        }
    }

    img {
        width: 50%;
        height: auto;
        border-radius: 10px;
        border: 10px solid $main-color;

        @include responsive('tablet') {
            width: 40%;
        }

        @include responsive('phone') {
            display: none;

        }
    }
}

// .home-container{

// }
.list-down {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    padding: $size 50px;
    @include responsive('phone') {
        padding: $size 20px;
    }

    h3 {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: $size;
        margin-bottom: 15px;
        @include responsive('phone') {
            font-size: 15px;
            border-bottom: 1px solid #fff;
            margin: 5px;
        }
    }

    a {
        color: #fff;
        font-size: $size;
        @include responsive('phone') {
            font-size: 13px;
            
            
        }
    }

    a:hover {
        color: yellow;
        border-bottom: 2px solid yellow;
    }
}

.content {
    padding: $size 50px;
    @include responsive('tablet') {
        padding: $size 10px;
    }

    
}

.produce {
    display: flex;
    flex-direction: column;
    
}

.title {
    display: flex;
    background-color: #fff;
    border-bottom: 5px solid $main-color;

    h2 {
        padding-right: 10px;
        font-size: 40px;
        padding: $size 0px 0px 0px;
        font-weight: bold;
        color: $main-color;
        @include responsive('phone') {
            font-size:30px;
            
         }
    }

}



.card {
    padding: $size 0px;
    display: flex;
    justify-content: space-between;
    @include responsive('phone') {
        display: flex;
        flex-wrap: wrap;
        padding:10px 10px;
    }
    
    
    


}

.new-produce-card {
    width: 23%;
    @include responsive('phone') {
        width: 48%;

    }

    img {
        width: 100%;
    }
}

.describe {
    text-align: center;
    padding: $size $size;
    font-size: $size+5;
    background-color: $main-color;
    @include responsive('tablet') {
        padding:10px 10px ;
        font-size: 18px;
    }
    @include responsive('phone') {
        padding:10px 10px ;
        font-size: 15px;
       
    }

    strong {
        color: yellow;


    }

    p {
        color: $text-button;
    }

}

.sale-produce {
    display: flex;

    h2 {
        padding: $size 0px 0px 0px;
        font-size: 40px;
        font-weight: bold;
        color: $main-color;
        background-color: #fff;

    }
}

.sale-title {

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #fff;
    border-bottom: 5px solid $main-color;

    h2 {
        display: flex;
        flex-direction: column;
        border-bottom: 5px solid #fff;
        color: $main-color;
        margin-left: 20px;
        @include responsive('phone') {
           font-size:30px;
           
        }
    }


}

.salepro-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sale-card {
    width: 23%;

    padding: $size 0px;
    position: relative;

    img {
        width: 100%;

        border: 3px solid #fff;
    }

    form {
        position: absolute;
        bottom: 15%;
        left: 25%;
        right: 25%;
        @include responsive('phone') {
            display: block;
        }
        button {
            border: none;
            color: #fff;
            font-size: $size;
            font-weight: bold;
            border-radius: 10px;
            background-color: $main-color;
            padding: $size;
            @include responsive('phone') {
                font-size:10px;
                padding: 5px;
                border-radius: 5px;
                background:$main-color;
                margin-bottom: 13px;
            }
            @include responsive('tablet') {
                font-size:15px;
                
                padding: 5px;
                border-radius: 5px;
                background:$main-color;
                
            }
            
            
        }
    }
}


@import "./components/footer"