@import "_main";
*{
    @include univer;
}
body{
    @include body;
}
@import "./components/nav";
.menu ul li:nth-child(1) a{
    color: #0C89A5;
    border-bottom:5px solid;
}   

header{
    display: flex;
    justify-content: space-between;
    padding: $size $size + 30;
    background-color: $bg-color;
    position: relative;
    top: 100px;
    .head-lift{
        h1{
            font-size: 50px;
            text-transform: uppercase;
            padding:222px 0px 50px 0px ;
            color:$text-color;
        }
    }
    button{
        font-size: 40px;
        border-radius: $size;
        padding: $size;
        text-transform: uppercase;
        color: #6C3838;
        border: 5px solid $main-color;
    }
    img{
        width: 50%;
        height:auto;
        border-radius: 10px;
        border: 10px solid $main-color;
    }
}
.home-container{
    position: relative;
    top: 100px;
}
.list-down{
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    padding: $size 50px;
    h3{
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: $size;
        margin-bottom: 15px;
    }
    a{
        color: #fff;
        font-size: $size;
    }
    a:hover{
        color: yellow;
        border-bottom: 2px solid yellow;
    } 
}
.content{
    padding:$size 50px;
}
.produce{
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    background-color: #fff;
    border-bottom: 5px solid $main-color;
    h2{
        padding-right: 10px;
        font-size: 40px;
        padding: $size 0px 0px 0px;
        font-weight: bold;
        color: $main-color;
    }
}



.card{
    padding: $size 0px;
    display: flex;
    justify-content: space-between;
    
}
.new-produce-card{
    width: 23%;
    
    img{
        width: 100%;
    }
}
.describe{
    text-align: center;
    padding: $size $size;
    font-size: $size+5;
    background-color: $main-color;
    strong{
        color: yellow;
        
        
    }
    p{
        color: $text-button;
    }
    
}
.sale-produce{
    display: flex;
    h2{
        padding: $size 0px 0px 0px;
        font-size: 40px;
        font-weight:bold;
        color:  $main-color;
        background-color: #fff;
       
    }
}
.sale-title{

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #fff;
    border-bottom: 5px solid $main-color;
    h3{
        display: flex;
        flex-direction: column;
        border-bottom: 5px solid #fff;
        color: black;
        
        margin-left: 20px;;
    }
    
    
}
.salepro-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sale-card{
    width: 23%;
    
    padding: $size 0px;
    position: relative;
    img{
        width: 100%;
        
        border: 3px solid #fff;
    }
    form{
        position: absolute;
        bottom: 15%;
        left: 25%;
        right: 25%;
        button{
            border: none;
            color:#fff;
            font-size: $size;
            font-weight: bold;
            border-radius:10px;
            background-color: $main-color;
            padding: $size;
        }
    }
}


@import "./components/footer"
