@import "_main";
*{
    @include univer;
}
body{
    @include body;
}
@import "./components/nav";
.menu ul li:nth-child(2) a{
    color: #0C89A5;
    border-bottom:5px solid;
}  
header{
    position: relative;
    top: 100px;
    background-color: #E7BF9D;
    padding: 0px 50px;
    .head-top{
        display: flex;
        justify-content: space-between
    }
    .head-top-left{
        padding: 50px 50px 50px 0px;
        font-size: 30px;
        strong{
            color: #0C89A5;
        }
        form{
            padding: 20px 0px; 
            button{
                font-size: 20px;
                padding: 10px 40px;
                background-color: yellow;
                border: none;
            }
        }
    }
    .head-top-right{
        img{
            width: 100%;
        }
    }
    .head-bottom{
        h3{
            padding: 50px 0px;
            font-size: 30px;
        }
    }
} 
main{
    position: relative;
    top: 100px;
}
.container{
    padding: 50px 50px;
    background-color: #0C89A5;
    display: flex;
    justify-content: space-between;
    .content01{
        padding: 0px 10px;
        img{
            border-radius: 50%;
        }
        .describe{
            padding: 20px 0px;
            text-align: center;
            strong{
                color: #fff;
            }
        }
    }
}

.sale-produce{
    display: flex;
    flex-direction: column;
    padding: 0px 50px;  
}
.pets{
    padding-top: 20px;
}
.title{
    text-align: center;
    font-size: 30px;
}
.pet-food{
    padding: 20px 0px;
    h3{
        padding: 20px 0px 10px 0px;
        border-bottom:2px solid black;
        color: #0C89A5;
        background-color: #fff;
    }
}
.pet-material{
    padding: 20px 0px;
    h3{
        padding: 20px 0px 10px 0px;
        border-bottom:2px solid black ;
        display: flex;
        justify-content: end;
        color: #0C89A5;
        background-color: #fff;
    }
}
.deteil{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
@import "./components/card";
@import "./components/footer";