@mixin univer{
    padding: 0;margin: 0;box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
}
@mixin body{
    width: 100%;
    height: auto;
    background-color: #b7b7b3;
}
@mixin centers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin centersnojus{
    display: flex;
    align-items: center;
}
@mixin space{
    display: flex;
    justify-content: space-between;
}