@mixin univer{
    padding: 0;margin: 0;box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    outline: none;
}
@mixin body{
    width: 100%;
    height: auto;
<<<<<<< HEAD
    background-color: #e4e4e0;
=======
    background-color:$text-button;
>>>>>>> 8a3737c6479f0182cabb488f9ba93ed7879ba780
}
@mixin centers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin centersnojus{
    display: flex;
    align-items: center;
}
@mixin space{
    display: flex;
    justify-content: space-between;
}
@mixin center {
    display: flex;
    width: 50%;
}