@import "_variable";
@import "_groupmixins";

nav{
    width: $width;
    height: 100px;
    position:fixed;
    z-index: 1;
    background-color: #fff;
    @include space;
    padding: $nav-padding;
    .menu{
        @include centersnojus;
    } 
    ul{
        display: flex;
        li{
            padding: $size+10;
            font-size: $size;
            font-weight: bold;
            a{
                color: $text-color;
            }
            a:hover{
                color: $main-color;
            }
        }
    }  
}
form{
    @include centersnojus;
    input{
        padding: $size - 5;
        font-size: $size;
        border-radius: 20px 0px 0px 20px; 
        background-color: #f3f3ef;
        border: none;
        color: $text-color;
        ::placeholder{
            font-size: 20px;
            color: black;
        }
    }
    .material-icons{
        font-size: 32px;
        border-radius: 0px 20px 20px 0px; 
        background-color: #c5c5c2;
        padding: 10.5px;
        border: none;
    }
}

