@import "_variable";
@import "_groupmixins";

nav{
    width: $width;
    height: 100px;
    position:fixed;
    z-index: 1;
    background-color: #ffffff;
    @include space;
    padding: $nav-padding;
    .menu{
        @include centersnojus;
    } 
    ul{
        display: flex;
        li{
            padding: $size+10;
            font-size: $size;
            font-weight: bold;
            a{
                color: $text-color;
            }
            a:hover{
                color: $main-color;
            }
        }
    }  
}
form{
    @include centersnojus;
    :hover{
        color: $main-color;
        box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
    }
    input{
        margin-left: auto;
        width: 50%;
        padding: $size - 5;
        font-size: $size;
        border-radius: 20px 0px 0px 20px; 
        background-color: #dedbdb;
        border: none;
        color: $text-color;
        ::placeholder{
            font-size: 20px;
            color: $main-color;
        }
    }
    .material-icons{
        font-size: 32px;
        border-radius: 0px 20px 20px 0px; 
        background-color: #c5c5c2;
        padding: $size - 7.5;
        border: none;
    }
}

